<div>
  <style type="text/css">
	body, body * {
	font-family: Verdana, Tahoma, sans-serif !important;
	}
	span {
	display: block;
 	margin-top: 10px;

	}
	.double{margin-top: 20px;}
	    a {
	      color: #5eaebc;
	    }
	.address {
	  border-top: 2px solid  #5eaebc;;
           }
    /* ANDROID CENTER FIX */

    div[style*="margin: 16px 0;"] {
      margin: 0 !important;
    }
  </style>
    <div style="padding: 10px;width: 100%; height:100%; background-color: white;">
      <a style="text-decoration:none;" href={{frontendUrl}}>
        <img
        src="https://www.fmndako.dev/images/plom.png"
        alt="logo" height='50px'>
        </a>
	<p>
	<span >{{details}}</span>
        </p>
	<div class='address'>
	  <p>
	  </p>

	</div>

	
      </div>
</div>
